<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="Creative - Bootstrap 3 Responsive Student Template">
  <meta name="author" content="GeeksLabs">
  <meta name="keyword" content="Creative, Dashboard, Admin, Template, Theme, Bootstrap, Responsive, Retina, Minimal">
  <link rel="shortcut icon" href="img/favicon.png">

  <link href="/img/logoAMZ/AMZ Techiversity logo 2.png" rel="icon">
  <link href="/img/logoAMZ/AMZ Techiversity logo 2.png" rel="apple-touch-icon">
  <title>AMZ - Admin Portal</title>

  <!-- Bootstrap CSS -->
  <link href="/vendor/css3.0/bootstrap.min.css" rel="stylesheet">

  <link href="/vendor/bootstrap/css/bootstrap-grid.min.css" rel="stylesheet" >
  <!-- bootstrap theme -->
  <link href="/vendor/css3.0/bootstrap-theme.css" rel="stylesheet">
  <!--external css-->
  <!-- font icon -->
  <link href="/vendor/css3.0/elegant-icons-style.css" rel="stylesheet" />
  <link href="/vendor/css3.0/font-awesome.min.css" rel="stylesheet" />
  <link rel="stylesheet" href="/vendor/css3.0/line-icons.css">
  <!-- Custom styles -->
  
  <link href="/vendor/owl.carousel/assets/owl.carousel.css" rel="stylesheet">
  
  <link href="/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">

  <link href="/vendor/css3.0/style.css" rel="stylesheet">
  <link href="/vendor/css3.0/style-responsive.css" rel="stylesheet" />

  
</head>

<body>
  <!-- container section start -->
  <section id="container" class="">
    <!--header start-->
    <header class="header dark-bg">
      <div class="toggle-nav">
        <div class="icon-reorder tooltips" data-original-title="Toggle Navigation" data-placement="bottom"><i class="icon_menu"></i></div>
      </div>

      <!--logo start-->
      <a href="./adminHome.html"><img src="/img/logoAMZ/AMZ Techiversity log.png" alt="" class="img-fluid logo_img"></a>
      <!--logo end-->

      <div class="top-nav notification-row">
        <!-- notificatoin dropdown start-->
        <ul class="nav pull-left top-menu">

          <!-- user login dropdown start-->
          <li class="dropdown">
            <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                            <span class="profile-ava">
                                <img alt="" src="/vendor/img/avatar1_small.jpg">
                            </span>
                            <span class="username">Admin Name</span>
                            <b class="caret"></b>
                        </a>
            <ul class="dropdown-menu extended logout">
              <div class="log-arrow-up"></div>
              <li class="eborder-top">
                <a href="#"><i class="icon_profile"></i>Main Page</a>
              </li>
              <li>
                <a href="/enquiry"><i class="icon_mail_alt"></i> Enquiry Data</a>
              </li>
              <li>
                <a href="#"><i class="icon_clock_alt"></i> Data Upload</a>
              </li>
              <li>
                <a href="./ircChapter.html"><i class="icon_pencil-edit"></i> IRC Chapter</a>
              </li>
              <li>
                <a href="./onCampusCourse.html"><i class="icon_laptop"></i>On Campus Courses</a>
              </li>
              <li>
                <a href="./internship.html"><i class="icon_chat_alt"></i>Internship Courses</a>
              </li>
              <li>
                <a href="./login.html"><i class="icon_key_alt"></i> Log Out</a>
              </li>
            </ul>
          </li>
          <!-- user login dropdown end -->
        </ul>
        <!-- notificatoin dropdown end-->
      </div>
    </header>
    <!--header end-->

    <!--sidebar start-->
    <aside>
      <div id="sidebar" class="nav-collapse ">
        <!-- sidebar menu start-->
        <ul class="sidebar-menu">
          <li class="">
            <a class="" href="#trustedBy">
                          <i class="icon_house_alt"></i>
                          <span>Trusted By</span>
                      </a>
          </li>
          <li>
            <a class="" href="#news">
                          <i class="icon_documents_alt"></i>
                          <span>News</span>
                      </a>
          </li>
          <li>
            <a class="" href="#partner">
                          <i class="icon_chat_alt"></i>
                          <span>Partner</span>
                      </a>
          </li>
          <li>
            <a class="" href="#video">
                          <i class="icon_pencil-edit"></i>
                          <span>Video</span>
                      </a>
          </li>
          <li>
            <a class="" href="#advisory">
                          <i class="icon_contacts_alt"></i>
                          <span>Advisory</span>
                      </a>
          </li>
          <li>
            <a class="" href="#events">
                          <i class="icon_clock_alt"></i>
                          <span>Events</span>
                      </a>
          </li>
          <li>
            <a class="" href="#client">
                          <i class="icon_globe_alt"></i>
                          <span>Happy Client</span>
                      </a>
          </li>
          <li>
            <a class="" href="#gallery">
                          <i class="icon_images"></i>
                          <span>AMZ Gallery</span>
                      </a>
          </li>
          <li>
            <a class="" href="#award">
                          <i class="icon_image"></i>
                          <span>Award Gallery</span>
                      </a>
          </li>
        </ul>
        <!-- sidebar menu end-->
      </div>
    </aside>
    <!--sidebar end-->

    <!--main content start-->
<section id="main-content">
      <section class="wrapper" id="accountInfo">
        <div class="row">
          <!-- profile-widget -->
          <div class="col-lg-12">
            <div class="profile-widget profile-widget-info">
              <div class="panel-body">
                <div class="col-lg-2 col-sm-2">
                  <h4>Admin Name</h4>
                  <div class="follow-ava">
                    <img src="/vendor/img/profile-widget-avatar.jpg" alt="">
                  </div>
                  <h6 class="mt-3">Admin</h6>
                </div>
                <div class="col-lg-4 col-sm-4 follow-info">
                  <p>@ AMZ Techversity</p>
                  <p><i class="fa fa-twitter"></i> Admin</p>
                  <p><i class="icon_key_alt"></i> 7891456030</p>
                </div>
                <div class="col-lg-2 col-sm-6 follow-info weather-category">
                  <ul>
                    <li class="active">

                      <i class="fa fa-comments fa-2x"> </i><br> Contrary to popular belief, Lorem Ipsum is not simply
                    </li>

                  </ul>
                </div>
                <div class="col-lg-2 col-sm-6 follow-info weather-category">
                  <ul>
                    <li class="active">

                      <i class="fa fa-bell fa-2x"> </i><br> Contrary to popular belief, Lorem Ipsum is not simply
                    </li>

                  </ul>
                </div>
                <div class="col-lg-2 col-sm-6 follow-info weather-category">
                  <ul>
                    <li class="active">

                      <i class="fa fa-tachometer fa-2x"> </i><br> Contrary to popular belief, Lorem Ipsum is not simply
                    </li>

                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
     
        <div class="row">
          <div class="col-lg-12">
            <section class="panel">
              <header class="panel-heading tab-bg-info">
                <ul class="nav nav-tabs">
                  <li class="active">
                    <a data-toggle="tab" href="#profile">
                                          <i class="icon_plus_alt2"></i>
                                          Profile
                                      </a>
                  </li>
                  <li class="">
                    <a data-toggle="tab" href="#edit-profile">
                                          <i class="icon_tools"></i>
                                          Edit Profile
                                      </a>
                  </li>
                </ul>
              </header>
              <div class="panel-body">
                <div class="tab-content">
     
                  <div id="profile" class="tab-pane active">
                    <section class="panel">
                      <div class="panel-body bio-graph-info">
                        <h1>Bio Graph</h1>
                        <div class="row">
                          <div class="bio-row">
                            <p><span>Name </span>: Admin Name</p>
                          </div>
                          <div class="bio-row">
                            <p><span>Company </span>: AMZ Techversity</p>
                          </div>
                          <div class="bio-row">
                            <p><span>Email </span>: admin@gmail.com</p>
                          </div>
                          <div class="bio-row">
                            <p><span>Mobile </span>: (+91) 7891456030</p>
                          </div>
                        </div>
                      </div>
                    </section>
                    <section>
                      <div class="row">
                      </div>
                    </section>
                  </div>

                  <div id="edit-profile" class="tab-pane">
                    <section class="panel">
                      <div class="panel-body bio-graph-info">
                        <h1> Profile Info</h1>
                        <form class="form-horizontal" role="form" action="">
                          <div class="form-group">
                            <label class="col-lg-2 control-label">Name</label>
                            <div class="col-lg-6">
                              <input type="text" class="form-control" id="name" placeholder="" value="Admin Name" disabled>
                            </div>
                          </div>
                          <div class="form-group">
                            <label class="col-lg-2 control-label">Company</label>
                            <div class="col-lg-6">
                              <input type="text" class="form-control" id="company" placeholder=" " value="AMZ Techiversity" disabled>
                            </div>
                          </div>
                          <div class="form-group">
                            <label class="col-lg-2 control-label">Email</label>
                            <div class="col-lg-6">
                              <input type="text" class="form-control" id="email" placeholder=" " value="admin@gmail.com" disabled>
                            </div>
                          </div>
                          <div class="form-group">
                            <label class="col-lg-2 control-label">Mobile</label>
                            <div class="col-lg-6">
                              <input type="number" class="form-control" id="mobile" placeholder=" " value="7891456030">
                            </div>
                          </div>
                          <div class="form-group">
                            <label class="col-lg-2 control-label">Password</label>
                            <div class="col-lg-6">
                              <input type="password" class="form-control" id="password" placeholder=" " value="123">
                            </div>
                          </div>

                          <div class="form-group">
                            <div class="col-lg-offset-2 col-lg-10">
                              <button type="submit" class="btn btn-primary">Save</button>
                              <button type="button" class="btn btn-danger">Cancel</button>
                            </div>
                          </div>
                        </form>
                      </div>
                    </section>
                  </div>
                </div>
              </div>
            </section>
          </div>
        </div>

      </section>

<!-- Trusted By -->
      <section class="wrapper" id="trustedBy">
        <div class="section-title">
          <h2>Trusted By</h2>
        </div>
        <!-- page start-->
        <div class="row">
          <div class="col-lg-12">
            <section class="panel">
              <header class="panel-heading tab-bg-info">
                <ul class="nav nav-tabs">
                  <li class="active">
                    <a data-toggle="tab" href="#addTrustedBy">
                                          <i class="icon_plus_alt2"></i>
                                          Add
                                      </a>
                  </li>
                  <li>
                    <a data-toggle="tab" href="#viewTrustedBy">
                                          <i class="icon_tools"></i>
                                          View
                                      </a>
                  </li>
                </ul>
              </header>
              <div class="panel-body">
                <div class="tab-content">
                  <!-- edit-profile -->
                  <div id="addTrustedBy" class="tab-pane active">
                    <section class="panel">
                      <div class="panel-body bio-graph-info">
                        <h1> Trusted By Info</h1>
                        <form class="form-horizontal" role="form" method="POST" action="/trusted" enctype="multipart/form-data">
                          <div class="form-group">
                            <label class="col-lg-2 control-label">Image Input</label>
                            <div class="col-lg-6">
                              <input type="file"  name ="image" id="logoFile">
                              <p class="help-block">Upload Your Logo Image Here.</p>
                            </div>
                            <input type="text" id="hidden" name="identifier" value="Trusted">
                          </div>

                          <div class="form-group">
                            <div class="col-lg-offset-2 col-lg-10">
                              <button type="submit" class="btn btn-primary">Save</button>
                              <button type="button" class="btn btn-danger">Cancel</button>
                            </div>
                          </div>
                        </form>
                      </div>
                    </section>
                  </div>
                  <!-- profile -->
                  <div id="viewTrustedBy" class="tab-pane">
                    <section class="panel">
                      <div class="panel-body bio-graph-info">
                        <h1>Trusted By Info</h1>
                        <div class="row">
                          <div class="view-row">
                            <%for(var i=0;i<trusted.length;i++){%>
                          <div class="view-row">
                            <img src="<%=trusted[i].img_url%>" alt="" class="img-fluid">
                            <form action="/<%=trusted[i].id%>/edittrusted" class="view-row" method="POST">   
                              <button type="Submit" class="btn btn-danger btn-md">Remove</button>
                          </form> 
                          </div>
                          <%}%>
                        </div>
                      </div>
                    </section>
                 
                  </div>
                </div>
              </div>
            </section>
          </div>
        </div>

        <!-- page end-->
      </section>

<!-- News -->
      <section class="wrapper" id="news">
        <div class="section-title">
          <h2>News</h2>
        </div>

        <div class="row">
          <div class="col-lg-12">
            <section class="panel">
              <header class="panel-heading tab-bg-info">
                <ul class="nav nav-tabs">
                  <li class="active">
                    <a data-toggle="tab" href="#addNews">
                                          <i class="icon_plus_alt2"></i>
                                          Add
                                      </a>
                  </li>
                  <li>
                    <a data-toggle="tab" href="#viewNews">
                                          <i class="icon_tools"></i>
                                          View
                                      </a>
                  </li>
                </ul>
              </header>
              <div class="panel-body">
                <div class="tab-content">
                  <div id="addNews" class="tab-pane active">
                    <section class="panel">
                      <div class="panel-body bio-graph-info">
                        <h1> News Info</h1>
                        <form class="form-horizontal" role="form" action="/news" enctype="multipart/form-data" method="POST">
                          <div class="form-group">
                            <label class="col-lg-2 control-label">News Title</label>
                            <div class="col-lg-6">
                              <input type="text" class="form-control" name="heading">
                            </div>
                          </div>
                          <div class="form-group">
                            <label class="col-lg-2 control-label">Description</label>
                            <div class="col-lg-6">
                              <textarea type="text" class="form-control" rows="3" name="description"></textarea>
                            </div>
                          </div>
                          <div class="form-group">
                            <label class="col-lg-2 control-label">Image Input</label>
                            <div class="col-lg-6">
                              <input type="file" id="logoFile" name="image">
                              <p class="help-block">Upload Your News Image Here.</p>
                            </div>
                          </div>

                          <div class="form-group">
                            <div class="col-lg-offset-2 col-lg-10">
                              <button type="submit" class="btn btn-primary">Save</button>
                              <button type="button" class="btn btn-danger">Cancel</button>
                            </div>
                          </div>
                        </form>
                      </div>
                    </section>
                  </div>

                  <div id="viewNews" class="tab-pane">
                    <section class="panel">
                      <div class="panel-body bio-graph-info">
                        <h1> News Info</h1>
                        <div class="row">
                          <%for(var i=0;i<news.length;i++){%>
                          <div class="view-row">
                            <%console.log(news[i].img_url)%>
                            <h4><%=news[i].heading%></h4>
                            <img src="<%=news[i].img_url%>" alt="" class="img-fluid">
                            <form action="/delete/<%=news[i].newsid%>/news" class="view-row" method="POST">   
                              <button type="Submit" class="btn btn-danger btn-md">Remove</button>
                          </form>                           
                        </div>
<%}%>
                        </div>
                      </div>
                    </section>
                   
                  </div>
                </div>
              </div>
            </section>
          </div>
        </div>

      </section>

<!-- Partner -->
      <section class="wrapper" id="partner">
        <div class="section-title">
          <h2>Partner</h2>
        </div>
        
        <div class="row">
          <div class="col-lg-12">
            <section class="panel">
              <header class="panel-heading tab-bg-info">
                <ul class="nav nav-tabs">
                  <li class="active">
                    <a data-toggle="tab" href="#addPartner">
                                          <i class="icon_plus_alt2"></i>
                                          Add
                                      </a>
                  </li>
                  <li>
                    <a data-toggle="tab" href="#viewPartner">
                                          <i class="icon_tools"></i>
                                          View
                                      </a>
                  </li>
                </ul>
              </header>
              <div class="panel-body">
                <div class="tab-content">
                  <!-- edit-profile -->
                  <div id="addPartner" class="tab-pane active">
                    <section class="panel">
                      <div class="panel-body bio-graph-info">
                        <h1> Partner Info</h1>
                        <form class="form-horizontal" role="form" action="/partner" method="POST" enctype="multipart/form-data">
                          <div class="form-group">
                            <label class="col-lg-2 control-label">Image Input</label>
                            <div class="col-lg-6">
                              <input type="file" id="logoFile" name="image">
                              <p class="help-block">Upload Your Logo Image Here.</p>
                            </div>
                          </div>

                          <div class="form-group">
                            <div class="col-lg-offset-2 col-lg-10">
                              <button type="submit" class="btn btn-primary">Save</button>
                              <button type="button" class="btn btn-danger">Cancel</button>
                            </div>
                          </div>
                        </form>
                      </div>
                    </section>
                  </div>

                  <div id="viewPartner" class="tab-pane">
                    <section class="panel">
                      <div class="panel-body bio-graph-info">
                        <h1>Partner Info</h1>
                        <div class="row">
                          <%for(var i=0;i<partner.length;i++){%>
                          <div class="view-row">
                            <img src="<%=partner[i].img_url%>" alt="" class="img-fluid">
                            
                            <form action="/<%=partner[i].id%>/editpartner" class="view-row" method="POST">   
                              <button type="Submit" class="btn btn-danger btn-md">Remove</button>
                          </form>                
                                    </div>
<%}%>
                        </div>
                      </div>
                    </section>
                    <section>
                      <div class="row">
                      </div>
                    </section>
                  </div>
                </div>
              </div>
            </section>
          </div>
        </div>

      </section>

<!-- Youtube Video -->
      <section class="wrapper" id="video">
        <div class="section-title">
          <h2>Video</h2>
        </div>

        <div class="row">
          <div class="col-lg-12">
            <section class="panel">
              <header class="panel-heading tab-bg-info">
                <ul class="nav nav-tabs">
                  <li class="active">
                    <a data-toggle="tab" href="#addVideo">
                                          <i class="icon_plus_alt2"></i>
                                          Add
                                      </a>
                  </li>
                  <li>
                    <a data-toggle="tab" href="#viewVideo">
                                          <i class="icon_tools"></i>
                                          View
                                      </a>
                  </li>
                </ul>
              </header>
              <div class="panel-body">
                <div class="tab-content">
                  <div id="addVideo" class="tab-pane active">
                    <section class="panel">
                      <div class="panel-body bio-graph-info">
                        <h1> Video Info</h1>
                        <form class="form-horizontal" role="form" action="/video" method="POST" enctype="multipart/form-data">
                          <div class="form-group">
                            <label class="col-lg-2 control-label">Video URL</label>
                            <div class="col-lg-6">
                              <input type="text" class="form-control" name="video_url">
                            </div>
                          </div>
                          <div class="form-group">
                            <label class="col-lg-2 control-label">Image Input</label>
                            <div class="col-lg-6">
                              <input type="file" id="logoFile" name="img_src">
                              <p class="help-block">Upload Your Video Image Here.</p>
                            </div>
                          </div>

                          <div class="form-group">
                            <div class="col-lg-offset-2 col-lg-10">
                              <button type="submit" class="btn btn-primary">Save</button>
                              <button type="button" class="btn btn-danger">Cancel</button>
                            </div>
                          </div>
                        </form>
                      </div>
                    </section>
                  </div>

                  <div id="viewVideo" class="tab-pane">
                    <section class="panel">
                      <div class="panel-body bio-graph-info">
                        <h1> Video Info</h1>
                        <div class="row">
                          <%for(var i=0;i<video.length;i++){%>
                          <div class="view-row">
                            <h4><%=video[i].video_url%></h4>
                            <img src="<%=video[i].img_url%>" alt="" class="img-fluid">
                            <form action="/<%=video[i].videoid%>/video" class="view-row" method="POST">   
                              <button type="Submit" class="btn btn-danger btn-md">Remove</button>
                          </form>
                                                  </div>

                          <%}%>
                        </div>
                      </div>
                    </section>
                    <section>
                      <div class="row">
                      </div>
                    </section>
                  </div>
                </div>
              </div>
            </section>
          </div>
        </div>

      </section>
<!-- Events -->
<section class="wrapper" id="events">
  <div class="section-title">
    <h2>Events</h2>
  </div>

  <div class="row">
    <div class="col-lg-12">
      <section class="panel">
        <header class="panel-heading tab-bg-info">
          <ul class="nav nav-tabs">
            <li class="active">
              <a data-toggle="tab" href="#addEvents">
                                    <i class="icon_plus_alt2"></i>
                                    Add
                                </a>
            </li>
            <li>
              <a data-toggle="tab" href="#viewEvents">
                                    <i class="icon_tools"></i>
                                    View
                                </a>
            </li>
          </ul>
        </header>
        <div class="panel-body">
          <div class="tab-content">
            <div id="addEvents" class="tab-pane active">
              <section class="panel">
                <div class="panel-body bio-graph-info">
                  <h1> Events Info</h1>
                  <form class="form-horizontal" role="form" action="">
                    <div class="form-group">
                      <label class="col-lg-2 control-label">University Name</label>
                      <div class="col-lg-6">
                        <input type="text" class="form-control">
                      </div>
                    </div>
                    <div class="form-group">
                      <label class="col-lg-2 control-label">Workshop Title</label>
                      <div class="col-lg-6">
                        <input type="text" class="form-control">
                      </div>
                    </div>
                    <div class="form-group">
                      <label class="col-lg-2 control-label">Workshop Date</label>
                      <div class="col-lg-6">
                        <input type="text" class="form-control" placeholder="DD/MM/YYYYY">
                      </div>
                    </div>
                    <div class="form-group">
                      <label class="col-lg-2 control-label">Image Input</label>
                      <div class="col-lg-6">
                        <input type="file" id="logoFile">
                        <p class="help-block">Upload Your Events Image Here.</p>
                      </div>
                    </div>

                    <div class="form-group">
                      <div class="col-lg-offset-2 col-lg-10">
                        <button type="submit" class="btn btn-primary">Save</button>
                        <button type="button" class="btn btn-danger">Cancel</button>
                      </div>
                    </div>
                  </form>
                </div>
              </section>
            </div>

            <div id="viewEvents" class="tab-pane">
              <section class="panel">
                <div class="panel-body bio-graph-info">
                  <h1> Events Info</h1>
                  <div class="row">
                    <div class="view-row">
                      <h4 class="mb-3">University Name</h4>
                      <h4 class="mb-3">Workshop Title</h4>
                      <h4>Date : 01/01/2020</h4>
                      <img src="../public/img/c6.png" alt="" class="img-fluid">
                      <button class="btn btn-danger btn-md">Remove</button>
                    </div>

                    <div class="view-row">
                      <h4 class="mb-3">University Name</h4>
                      <h4 class="mb-3">Workshop Title</h4>
                      <h4>Date : 01/01/2020</h4>
                      <img src="../public/img/c7.jpg" alt="" class="img-fluid">
                      <button class="btn btn-danger btn-md">Remove</button>
                    </div>
                  </div>
                </div>
              </section>
              <section>
                <div class="row">
                </div>
              </section>
            </div>
          </div>
        </div>
      </section>
    </div>
  </div>

</section>
<!-- Advisory -->
      <section class="wrapper" id="advisory">
        <div class="section-title">
          <h2>Advisory</h2>
        </div>

        <div class="row">
          <div class="col-lg-12">
            <section class="panel">
              <header class="panel-heading tab-bg-info">
                <ul class="nav nav-tabs">
                  <li class="active">
                    <a data-toggle="tab" href="#addAdvisory">
                                          <i class="icon_plus_alt2"></i>
                                          Add
                                      </a>
                  </li>
                  <li>
                    <a data-toggle="tab" href="#viewAdvisory">
                                          <i class="icon_tools"></i>
                                          View
                                      </a>
                  </li>
                </ul>
              </header>
              <div class="panel-body">
                <div class="tab-content">
                  <div id="addAdvisory" class="tab-pane active">
                    <section class="panel">
                      <div class="panel-body bio-graph-info">
                        <h1> Advisory Info</h1>
                        <form class="form-horizontal" role="form" action="/advisory" method="POST" enctype="multipart/form-data">
                          <div class="form-group">
                            <label class="col-lg-2 control-label"> Name</label>
                            <div class="col-lg-6">
                              <input type="text" class="form-control" name="name">
                            </div>
                          </div>
                          <div class="form-group">
                            <label class="col-lg-2 control-label"> Designation</label>
                            <div class="col-lg-6">
                              <input type="text" class="form-control" name="designation">
                            </div>
                          </div>
                          <div class="form-group">
                            <label class="col-lg-2 control-label">Image Input</label>
                            <div class="col-lg-6">
                              <input type="file" id="logoFile" name="image">
                              <p class="help-block">Upload Your Advisory Image Here.</p>
                            </div>
                          </div>

                          <div class="form-group">
                            <div class="col-lg-offset-2 col-lg-10">
                              <button type="submit" class="btn btn-primary">Save</button>
                              <button type="button" class="btn btn-danger">Cancel</button>
                            </div>
                          </div>
                        </form>
                      </div>
                    </section>
                  </div>

                  <div id="viewAdvisory" class="tab-pane">
                    <section class="panel">
                      <div class="panel-body bio-graph-info">
                        <h1> Advisory Info</h1>
                        <div class="row">
                          <%for(var i=0;i<advisory.length;i++){%>
                          <div class="view-row">
                            <h4>Advisory Name</h4>
                            <img src="<%=advisory[i].img_url%>" alt="" class="img-fluid">
                            <form action="delete/<%=advisory[i].advisoryid%>/advisory" class="view-row" method="POST">   
                              <button type="Submit" class="btn btn-danger btn-md">Remove</button>
                          </form>  
                          </div>
<%}%>
                      
                        </div>
                      </div>
                    </section>
                    <section>
                      <div class="row">
                      </div>
                    </section>
                  </div>
                </div>
              </div>
            </section>
          </div>
        </div>

      </section>

<!-- Client -->
      <section class="wrapper" id="client">
        <div class="section-title">
          <h2>Happy Client</h2>
        </div>

        <div class="row">
          <div class="col-lg-12">
            <section class="panel">
              <header class="panel-heading tab-bg-info">
                <ul class="nav nav-tabs">
                  <li class="active">
                    <a data-toggle="tab" href="#addClient">
                                          <i class="icon_plus_alt2"></i>
                                          Add
                                      </a>
                  </li>
                  <li>
                    <a data-toggle="tab" href="#viewClient">
                                          <i class="icon_tools"></i>
                                          View
                                      </a>
                  </li>
                </ul>
              </header>
              <div class="panel-body">
                <div class="tab-content">
                  <div id="addClient" class="tab-pane active">
                    <section class="panel">
                      <div class="panel-body bio-graph-info">
                        <h1> Client Info</h1>
                        <form class="form-horizontal" role="form" action="">
                          <div class="form-group">
                            <label class="col-lg-2 control-label">Image Input</label>
                            <div class="col-lg-6">
                              <input type="file" id="logoFile">
                              <p class="help-block">Upload Your Client Image Here.</p>
                            </div>
                          </div>

                          <div class="form-group">
                            <div class="col-lg-offset-2 col-lg-10">
                              <button type="submit" class="btn btn-primary">Save</button>
                              <button type="button" class="btn btn-danger">Cancel</button>
                            </div>
                          </div>
                        </form>
                      </div>
                    </section>
                  </div>

                  <div id="viewClient" class="tab-pane">
                    <section class="panel">
                      <div class="panel-body bio-graph-info">
                        <h1> Client Info</h1>
                        <div class="row">
                          <div class="view-row">
                            <h4>Client Name</h4>
                            <img src="/img/c6.png" alt="" class="img-fluid">
                            <button class="btn btn-danger btn-md">Remove</button>
                          </div>

                          <div class="view-row">
                            <h4>Client Name</h4>
                            <img src="/img/c7.jpg" alt="" class="img-fluid">
                            <button class="btn btn-danger btn-md">Remove</button>
                          </div>
                        </div>
                      </div>
                    </section>
                    <section>
                      <div class="row">
                      </div>
                    </section>
                  </div>
                </div>
              </div>
            </section>
          </div>
        </div>

      </section>

<!-- AMZ Gallery -->
      <section class="wrapper" id="gallery">
        <div class="section-title">
          <h2>Gallery</h2>
        </div>

        <div class="row">
          <div class="col-lg-12">
            <section class="panel">
              <header class="panel-heading tab-bg-info">
                <ul class="nav nav-tabs">
                  <li class="active">
                    <a data-toggle="tab" href="#addGallery">
                                          <i class="icon_plus_alt2"></i>
                                          Add
                                      </a>
                  </li>
                  <li>
                    <a data-toggle="tab" href="#viewGallery">
                                          <i class="icon_tools"></i>
                                          View
                                      </a>
                  </li>
                </ul>
              </header>
              <div class="panel-body">
                <div class="tab-content">
                  <div id="addGallery" class="tab-pane active">
                    <section class="panel">
                      <div class="panel-body bio-graph-info">
                        <h1> Gallery Info</h1>
                        <form class="form-horizontal" role="form" action="">
                          <div class="form-group">
                            <label class="col-lg-2 control-label"> Title</label>
                            <div class="col-lg-6">
                              <input type="text" class="form-control">
                            </div>
                          </div>
                          <div class="form-group">
                            <label class="col-lg-2 control-label">Image Input</label>
                            <div class="col-lg-6">
                              <input type="file" id="logoFile">
                              <p class="help-block">Upload Your Gallery Image Here.</p>
                            </div>
                          </div>

                          <div class="form-group">
                            <div class="col-lg-offset-2 col-lg-10">
                              <button type="submit" class="btn btn-primary">Save</button>
                              <button type="button" class="btn btn-danger">Cancel</button>
                            </div>
                          </div>
                        </form>
                      </div>
                    </section>
                  </div>

                  <div id="viewGallery" class="tab-pane">
                    <section class="panel">
                      <div class="panel-body bio-graph-info">
                        <h1> Gallery Info</h1>
                        <div class="row">
                          <div class="view-row">
                            <h4>Img Title</h4>
                            <img src="/img/c6.png" alt="" class="img-fluid">
                            <button class="btn btn-danger btn-md">Remove</button>
                          </div>

                          <div class="view-row">
                            <h4>Img Title</h4>
                            <img src="/img/c7.jpg" alt="" class="img-fluid">
                            <button class="btn btn-danger btn-md">Remove</button>
                          </div>
                        </div>
                      </div>
                    </section>
                    <section>
                      <div class="row">
                      </div>
                    </section>
                  </div>
                </div>
              </div>
            </section>
          </div>
        </div>

      </section>

<!-- AMZ Award -->
      <section class="wrapper" id="award">
        <div class="section-title">
          <h2>Awards</h2>
        </div>

        <div class="row">
          <div class="col-lg-12">
            <section class="panel">
              <header class="panel-heading tab-bg-info">
                <ul class="nav nav-tabs">
                  <li class="active">
                    <a data-toggle="tab" href="#addAward">
                                          <i class="icon_plus_alt2"></i>
                                          Add
                                      </a>
                  </li>
                  <li>
                    <a data-toggle="tab" href="#viewAward">
                                          <i class="icon_tools"></i>
                                          View
                                      </a>
                  </li>
                </ul>
              </header>
              <div class="panel-body">
                <div class="tab-content">
                  <div id="addAward" class="tab-pane active">
                    <section class="panel">
                      <div class="panel-body bio-graph-info">
                        <h1> Award Info</h1>
                        <form class="form-horizontal" role="form" action="">
                          <div class="form-group">
                            <label class="col-lg-2 control-label">Image Input</label>
                            <div class="col-lg-6">
                              <input type="file" id="logoFile">
                              <p class="help-block">Upload Your Award Image Here.</p>
                            </div>
                          </div>

                          <div class="form-group">
                            <div class="col-lg-offset-2 col-lg-10">
                              <button type="submit" class="btn btn-primary">Save</button>
                              <button type="button" class="btn btn-danger">Cancel</button>
                            </div>
                          </div>
                        </form>
                      </div>
                    </section>
                  </div>

                  <div id="viewAward" class="tab-pane">
                    <section class="panel">
                      <div class="panel-body bio-graph-info">
                        <h1> Award Info</h1>
                        <div class="row">
                          <div class="view-row">
                            <img src="/img/c6.png" alt="" class="img-fluid">
                            <button class="btn btn-danger btn-md">Remove</button>
                          </div>

                          <div class="view-row">
                            <img src="/img/c7.jpg" alt="" class="img-fluid">
                            <button class="btn btn-danger btn-md">Remove</button>
                          </div>
                        </div>
                      </div>
                    </section>
                    <section>
                      <div class="row">
                      </div>
                    </section>
                  </div>
                </div>
              </div>
            </section>
          </div>
        </div>

      </section>

</section>
  </section>

  

  <!-- container section end -->
  <!-- javascripts -->

 <script src="/vendor/js3.0/jquery.js"></script>
  <script src="/vendor/js3.0/bootstrap.min.js"></script>

  <!-- nice scroll -->
  <script src="/vendor/js3.0/jquery.scrollTo.min.js"></script>
  <script src="/vendor/js3.0/jquery.nicescroll.js"></script>
  
 <script src="/vendor/owl.carousel/owl.carousel.js"></script>
  <!--custome script for all page-->
  <script src="/vendor/js3.0/scripts.js"></script>


</body>

</html>
<style>
  #hidden{
    visibility: hidden;
  }
</style>