<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>AMZ AUTOMATIVE</title>
  <meta content="" name="descriptison">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="/img/logoAMZ/AMZ Techiversity logo 2.png" rel="icon">
  <link href="/img/logoAMZ/AMZ Techiversity logo 2.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Jost:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="/vendor/icofont/icofont.min.css" rel="stylesheet">
  <link href="/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="/vendor/remixicon/remixicon.css" rel="stylesheet">
  <link href="/vendor/venobox/venobox.css" rel="stylesheet">
  <link href="/vendor/owl.carousel/assets/owl.carousel.min.css" rel="stylesheet">
  <link href="/vendor/aos/aos.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="/css/style.css" rel="stylesheet">

</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top ">
    <div class="container-fluid d-flex align-items-center">
      <a href="./home.html" class="logo mr-auto"><img src="/img/logoAMZ/AMZ Techiversity log.png" alt="" class="img-fluid"></a>
      <nav class="nav-menu d-none d-lg-block">
        <ul>
          <li class="active"><a href="./home.html">Home</a></li>
          <li class="drop-down"><a href="">About</a>
            <ul>
              <li><a href="./aboutUs.html">About AMZ</a></li>
              <li><a href="./gallery.html">AMZ Gallery</a></li>
              <li><a href="./award_gallery.html">AMZ Awards</a></li>
            </ul>
          </li>
          <li><a href="./internshipCourse.html">Internship</a></li>
          <li><a href="./events.html">Events</a></li>
          <li><a href="#centerLogin">Center Of Excellence</a></li>
          <li><a href="./amz_login.html">AMZ Login</a></li>
        </ul>
      </nav>
    </div>
  </header>
  <!-- End Header -->

  <!-- ======= Hero Section ======= -->
  <section id="hero" class="d-flex align-items-center">

    <div class="container">
      <div class="row">
        <div class="col-lg-6 d-flex flex-column justify-content-center pt-4 pt-lg-0 order-2 order-lg-1" data-aos="fade-up" data-aos-delay="200">
          <p>Join us to learn Industry oriented Skills.</p>
          <div class="section-header">
            <h1>Amz Techversity</h1>
          </div>
          <h2>India’s biggest
            Technology and Innovation
            Based Learning Platform
            </h2>
        </div>
        <div class="col-lg-6 order-1 order-lg-2 hero-img" data-aos="zoom-in" data-aos-delay="200">
          <img src="/img/hero-img.png" class="img-fluid animated" alt="">
        </div>
      </div>
    </div>

  </section><!-- End Hero -->

  <main id="main">

    <!-- ======= Cliens Section ======= -->
    <section id="cliens" class="cliens section-bg">
      <div class="container">
        <div class="section-title">
          <h2>Trusted By</h2>
        </div>

        <div class="owl-carousel trustedBy-carousel" data-aos="zoom-in">
<%for(var i=0;i<trusted.length;i++){%>
  <%console.log(trusted[i].img_url)%>
          <img src="<%=trusted[i].img_url%>" class="img-fluid" alt="">
<%}%>
        </div>

      </div>
    </section><!-- End Cliens Section -->

    <!-- Start Course Section -->
    <div class="card-container pb-5">
      <div class="container-fluid custom-margin-1">
        <div class="row">
          <div class="col-lg-6 col-md-6 col-sm-12  pl-0 pr-0 pb-2" data-aos="zoom-in" data-delay="100">
            <div class="card amz-courses-1 mx-3">
              <div class="card-body">
                <h6 class="card-subtitle mb-5 text-white">Online Courses</h6>
                <div class="text-center mb-5"><a href="./courses.html" class="btn btn-lg btn-primary btn-round online-btn" type="submit">Join Now</a></div>
                <p class="card-text text-white pb-4">The online courses provide the way to surf long and deep
                  into knowledge. You are out to flexibility, time efficient, accessibility, global knowledge
                  and better opportunities.
                </p>
              </div>
            </div>
          </div>
          <div class="col-lg-6 col-md-6 col-sm-12 pr-0 pb-2 pl-0" data-aos="zoom-in" data-delay="200">
            <div class="card amz-courses-2 mx-3">
              <div class="card-body">
                <h6 class="card-subtitle mb-5 text-white">On Campus Courses</h6>
                <div class="text-center mb-5"><a href="./campusCourse.html" class="btn btn-lg btn-primary btn-round offline-btn" type="submit">Join Now</a></div>
                <p class="card-text text-white pb-4">One can experience real time participation and can judge
                  themselves. We build community, envolve students in structured time and instant solving of
                  doubts.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  <!-- End Course Section -->


    <!-- ======= News Section ======= -->
<section id="news" class="news">
  <div class="container" data-aos="fade-up">

    <div class="section-title">
      <h2>News</h2>
      <p>Aim to make India a self dependent country in terms of research and development.</p>
    </div>

    <div class="owl-carousel news-carousel">
<%for(var i=0;i<news.length;i++){%>
      <div class="news-item">
        <div class="news-wrap">
          <img src="<%=news[i].img_url%>" class="img-fluid" alt="">
          <div class="news-info">
            <h4 class="mt-1 mb-1 p-1"><%=news[i].heading%></h4>
            <p class="mb-1 p-1"><%=news[i].description%>
              </p>
            <p class="mt-1 text-right"><i class="bx bxs-calendar-event pr-1"></i>01/01/2020</p>
          </div>
        </div>
      </div>
<%}%>
     

    </div>

  </div>
</section><!-- End News Section -->

    <!-- ======= Cliens Section ======= -->
    <section id="cliens" class="cliens section-bg">
      <div class="container">
        <div class="section-title">
          <h2>Partners</h2>
        </div>
        <div class="row partners" data-aos="zoom-in">
<%for(var i=0;i<partner.length;i++){%>
          <div class="col-lg-2 col-md-4 col-6 d-flex align-items-center justify-content-center">
            <img src="<%=partner[i].img_url%>" class="img-fluid" alt="">
          </div>
<%}%>
        </div>

      </div>
    </section><!-- End Cliens Section -->

       <!-- ======= About Video Section ======= -->
       <section id="news" class="news">
        <div class="container-fluid" data-aos="fade-up">
  
          <div class="section-title">
            <h2>Videos</h2>
          </div>
  
          <div class="owl-carousel video-carousel">
  <%for(var i=0;i<video.length;i++){%>
            <div class="news-item">
              <div class="video-box align-self-baseline" data-aos="fade-right" data-aos-delay="100">
                <img src="<%=video[i].img_url%>" class="img-fluid" alt="">
                <a href="<%=video[i].video_url%>" class="venobox play-btn mb-4" data-vbtype="video" data-autoplay="true"></a>
              </div>
            </div>
      <%}%>
          </div>
  
        </div>
      </section>
      <!-- End About Video Section -->

    <!-- ======= Advisory Committee Section ======= -->
    <section id="advisory" class="advisory section-bg">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Advisory Committe</h2>
          <p>Advisory committee provides guidance to the core team and suggests well structured concepts to formulate different courses and integrate all the schemes to provide effective practicality in education sector.</p>
        </div>

        <div class="row">
<%for(var i=0;i<advisory.length;i++){%>
  <%console.log(advisory[i].name)%>
          <div class="col-lg-6">
            <div class="member d-flex align-items-start" data-aos="zoom-in" data-aos-delay="100">
              <div class="pic"><img src="<%=advisory[i].img_url%>" class="img-fluid" alt=""></div>
              <div class="member-info">
                <h4><%=advisory[i].name%></h4>
                <span></span>
                <p><%=advisory[i].designation%></p>
              </div>
            </div>
          </div>
          <%}%>

        </div>

      </div>
    </section>
    <!-- ======= Advisory Committee Section ======= -->
    
   <!-- ======= Counts Section ======= -->
   <section id="counts" class="counts section-bg">
    <div class="container">

      <div class="row justify-content-end">

        <div class="col d-md-flex align-items-md-stretch">
          <div class="count-box">
            <span data-toggle="counter-up">200</span>
            <p>Campus Reached</p>
          </div>
        </div>

        <div class="col d-md-flex align-items-md-stretch">
          <div class="count-box">
            <span data-toggle="counter-up">40</span>
            <p>Courses</p>
          </div>
        </div>

        <div class="col d-md-flex align-items-md-stretch">
          <div class="count-box">
            <span data-toggle="counter-up">1,044</span>
            <p>Workshop</p>
          </div>
        </div>

        <div class="col d-md-flex align-items-md-stretch">
          <div class="count-box">
            <span data-toggle="counter-up">87</span>
            <p>On Campus Program</p>
          </div>
        </div>

        <div class="col d-md-flex align-items-md-stretch">
          <div class="count-box">
            <span data-toggle="counter-up">60,000</span>
            <p>Student Attended</p>
          </div>
        </div>

      </div>

    </div>
  </section><!-- End Counts Section -->

    <!-- ======= Contact Section ======= -->
    <section id="contact" class="contact">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Get in touch now</h2>
          <p>Go for it, don't hesitate to contact our members.<br>
              We are here to get your queries.</p>
        </div>

        <div class="row">

          <div class="col-lg-5 d-flex align-items-stretch">
            <div class="info">
              <div class="address">
                <i class="icofont-google-map"></i>
                <h4>Location:</h4>
                <p>AM Tower, 3rd floor, 07 Teachers colony, Ajmer Rd, DCM, Jaipur, Rajasthan 302021</p>
              </div>

              <div class="email">
                <i class="icofont-envelope"></i>
                <h4>Email:</h4>
                <p>mail@amzindia.com</p>
              </div>

              <div class="phone">
                <i class="icofont-phone"></i>
                <h4>Call:</h4>
                <p>+91 9361897519</p>
              </div>
              <iframe src="https://www.google.com/maps/embed?pb=!1m16!1m12!1m3!1d28463.829964760418!2d75.75156024244828!3d26.904169641195992!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!2m1!1sAM%20Tower%2C%203rd%20floor%2C%2007%20Teachers%20colony%2C%20Ajmer%20Rd%2C%20DCM%2C%20Jaipur%2C%20Rajasthan%20302021!5e0!3m2!1sen!2sin!4v1594234097773!5m2!1sen!2sin" frameborder="0" style="border:0; width: 100%; height: 290px;" allowfullscreen></iframe>
            </div>

          </div>

          <div class="col-lg-7 mt-5 mt-lg-0 d-flex align-items-stretch">
            <form action="/" method="post" role="form" class="php-email-form">
              <div class="form-row">
                <div class="form-group col-md-6">
                  <label for="name">Your Name*</label>
                  <input type="text" name="name" class="form-control" id="name" data-rule="minlen:4" data-msg="Please enter at least 4 chars" />
                  <div class="validate"></div>
                </div>
                <div class="form-group col-md-6">
                  <label for="name">Your Email*</label>
                  <input type="email" class="form-control" name="email" id="email" data-rule="email" data-msg="Please enter a valid email" />
                  <div class="validate"></div>
                </div>
              </div>
              <div class="form-group">
                <label for="name">Telephone Number*</label>
                <input type="number" class="form-control" name="number" id="number" data-rule="minlen:10" data-msg="Please enter a valid number" />
                <div class="validate"></div>
              </div>
              <div class="form-group">
                <label for="name">Message*</label>
                <textarea class="form-control" name="message" rows="10" data-rule="required" data-msg="Please write something for us"></textarea>
                <div class="validate"></div>
              </div>
              <div class="mb-3">
                <div class="loading">Loading</div>
                <div class="error-message"></div>
                <div class="sent-message">Your message has been sent. Thank you!</div>
              </div>
              <div class="text-center"><button type="submit">Send Message</button></div>
            </form>
          </div>

        </div>

      </div>
    </section><!-- End Contact Section -->


  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer">
    <div class="footer-top">
      <div class="container">
        <div class="row">

          <div class="col-lg-3 col-md-6 footer-contact">
            <h4>About Amz</h4>
            <p>
              <strong>Location:</strong> AM Tower, 3rd floor, 07 Teachers colony, Ajmer Rd, DCM, Jaipur, Rajasthan 302021<br>
              <strong>Phone:</strong> +91 9361897519<br>
              <strong>Email:</strong>  mail@amzindia.com<br>
            </p>
          </div>

          <div class="col-lg-3 col-md-6 footer-links">
            <h4>Support</h4>
            <ul>
              <li><i class="bx bx-chevron-right"></i> <a href="#contact">Get in touch</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Our policy</a></li>
            </ul>
          </div>

          <div class="col-lg-3 col-md-6 footer-links">
            <h4>Information</h4>
            <ul>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Our Blog</a></li>
            </ul>
          </div>

          <div class="col-lg-3 col-md-6 footer-links">
            <h4>Newsletter</h4>
            <p>Signup to receive our interesting news and promotions.We never send spam!</p>
            <form action="/" method="post" class="mb-3">
              <input type="email" name="email"  placeholder="Your Email..."><input type="submit" value="Subscribe">
            </form>
            <h4 class="pb-0">Validate Certificate</h4>
            <p>Validate your certificate now by Serial No</p>
            <form action="" method="post">
              <input type="text" name="certificateId"  placeholder="Serial Number..."><input type="submit" value="Validate">
            </form>
          </div>

        </div>
      </div>
    </div>

    <div class="container footer-bottom clearfix">
      <div class="copyright">
        &copy; <strong><span>2020 AMZ.</span></strong>. All Rights Reserved
      </div>
      <div class="credits">

        <div class="social-links">
          <a href="#" class="twitter"><i class="bx bxl-twitter"></i></a>
          <a href="#" class="facebook"><i class="bx bxl-facebook"></i></a>
          <a href="#" class="instagram"><i class="bx bxl-instagram"></i></a>
          <a href="#" class="google-plus"><i class="bx bxl-skype"></i></a>
          <a href="#" class="linkedin"><i class="bx bxl-linkedin"></i></a>
        </div>
      </div>
    </div>
  </footer>
  <!-- End Footer -->

  <a href="#" class="back-to-top"><i class="ri-arrow-up-line"></i></a>
  <div id="preloader"></div>

    <!-- Modal Dicount Pop Up Start -->
    <div class="modal fade modal-md" id="timerModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered modal-md" role="document">
        <div class="modal-content">
          <div class="modal-header border-bottom-0">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
          </div>
          <div class="modal-body pt-0">
            <div class="rounded text-white shadow p-2 text-center">
              <p class="mb-1 font-weight-bold text-uppercase text-danger">just pay 17400 Rs before the countdown ends</p>
              <p class="mb-0 font-weight-bold">Enroll soon before the offer ends!!</p>
              <div id="countDownTimer" class="countdown pt-2"></div>
            </div>
          </div>
      </div>
    </div>
    <!-- Modal Dicount Pop Up End  -->

    <!-- Modal Request News-->
    <div class="modal fade" id="newsRequestModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered modal-md" role="document">
        <div class="modal-content">
          <div class="modal-header border-bottom-0">
            <p class="text-center">News Title Header</p>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
          </div>
          <div class="modal-body">
            <div class="d-flex flex-column text-center">
              <form class="newsRequest-form" action="">
                <div class="form-group">
                  <input type="text" class="form-control" name="userName" id="userName" placeholder="YOUR NAME" autocomplete="off">
                </div>
                <div class="form-group">
                  <input type="email" class="form-control" name="userEmail" id="userEmail" placeholder="YOUR EMAIL" autocomplete="off">
                </div>
                <div class="form-group">
                  <input type="number" class="form-control" name="userPhNo" id="userNo" placeholder="YOUR MOBILE" autocomplete="off">
                </div>
                
                <div class="row">
                  <div class="col-md-6 col-sm-12 offset-md-6 mr-auto">
                    <button type="button" class="btn btn-info btn-block btn-round">Enroll Now</button>
                  </div>
                </div>
  
              </form>
              
          </div>
        </div>
          <div class="modal-footer d-flex justify-content-center">
            <div class="dismiss-section text-white">Not Interested? <a data-dismiss="modal" class="text-info"> Back</a>.</div>
          </div>
      </div>
    </div>
    <!-- Modal Request News End  -->

 <!-- Vendor JS Files -->
 <script src="/vendor/jquery/jquery.min.js"></script>
 <script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
 <script src="/vendor/jquery.easing/jquery.easing.min.js"></script>
 <script src="/vendor/waypoints/jquery.waypoints.min.js"></script>
 <script src="/vendor/isotope-layout/isotope.pkgd.min.js"></script>
 <script src="/vendor/counterup/counterup.min.js"></script>
 <script src="/vendor/venobox/venobox.min.js"></script>
 <script src="/vendor/owl.carousel/owl.carousel.min.js"></script>
 <script src="/vendor/aos/aos.js"></script>
 <script src="/vendor/jquery.countdown/jquery.countdown.js"></script>
 <script src="/vendor/js3.0/jquery.nicescroll.js"></script>

 <!-- Template Main JS File -->
 <script src="/js/main.js"></script>


</body>

</html>