<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="Creative - Bootstrap 3 Responsive Student Template">
  <meta name="author" content="GeeksLabs">
  <meta name="keyword" content="Creative, Dashboard, Admin, Template, Theme, Bootstrap, Responsive, Retina, Minimal">
  <link rel="shortcut icon" href="img/favicon.png">

  <link href="/img/logoAMZ/AMZ Techiversity logo 2.png" rel="icon">
  <link href="/img/logoAMZ/AMZ Techiversity logo 2.png" rel="apple-touch-icon">
  <title>AMZ - Student Portal</title>

  <!-- Bootstrap CSS -->
  <link href="/vendor/css3.0/bootstrap.min.css" rel="stylesheet">

  <link href="/vendor/bootstrap/css/bootstrap-grid.min.css" rel="stylesheet" >
  <!-- bootstrap theme -->
  <link href="/vendor/css3.0/bootstrap-theme.css" rel="stylesheet">
  <!--external css-->
  <!-- font icon -->
  <link href="/vendor/css3.0/elegant-icons-style.css" rel="stylesheet" />
  <link href="/vendor/css3.0/font-awesome.min.css" rel="stylesheet" />
  <link rel="stylesheet" href="/vendor/css3.0/line-icons.css">
  <!-- Custom styles -->
  
  <link href="/vendor/owl.carousel/assets/owl.carousel.css" rel="stylesheet">
  
  <link href="/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">

  <link href="/vendor/css3.0/style.css" rel="stylesheet">
  <link href="/vendor/css3.0/style-responsive.css" rel="stylesheet" />

  
</head>

<body>
  <!-- container section start -->
  <section id="container" class="">
    <!--header start-->
    <header class="header dark-bg">
      <div class="toggle-nav">
        <div class="icon-reorder tooltips" data-original-title="Toggle Navigation" data-placement="bottom"><i class="icon_menu"></i></div>
      </div>

      <!--logo start-->
      <a href="./home.html"><img src="/img/logoAMZ/AMZ Techiversity log.png" alt="" class="img-fluid logo_img"></a>
      <!--logo end-->

      <div class="top-nav notification-row">
        <!-- notificatoin dropdown start-->
        <ul class="nav pull-left top-menu">
          
          <!-- user login dropdown start-->
          <li class="dropdown">
            <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                            <span class="profile-ava">
                                <img alt="" src="/vendor/img/avatar1_small.jpg">
                            </span>
                            <span class="username"><%=student[0].name%></span>
                            <b class="caret"></b>
                        </a>
            <ul class="dropdown-menu extended logout">
              <div class="log-arrow-up"></div>
              <li class="eborder-top">
                <a href="#accountInfo"><i class="icon_profile"></i> My Profile</a>
              </li>
              <li>
                <a href="#messages"><i class="icon_mail_alt"></i> My Inbox</a>
              </li>
              <li>
                <a href="./amz_login.html"><i class="icon_key_alt"></i> Log Out</a>
              </li>
            </ul>
          </li>
          <!-- user login dropdown end -->
        </ul>
        <!-- notificatoin dropdown end-->
      </div>
    </header>
    <!--header end-->

    <!--sidebar start-->
    <aside>
      <div id="sidebar" class="nav-collapse ">
        <!-- sidebar menu start-->
        <ul class="sidebar-menu">
          <li class="active">
            <a class="" href="#">
                          <i class="icon_house_alt"></i>
                          <span>Dashboard</span>
                      </a>
          </li>
          <li>
            <a class="" href="#accountInfo">
                          <i class="icon_contacts_alt"></i>
                          <span>Account Info</span>
                      </a>
          </li>
          <li>
            <a class="" href="#sliderSection">
                          <i class="icon_pencil-edit"></i>
                          <span>Request Now</span>
                      </a>
          </li>
          <li>
            <a class="" href="#projectAdd">
                          <i class="icon_chat_alt"></i>
                          <span>Add Project</span>
                      </a>
          </li>
          <li>
            <a class="" href="#faq">
                          <i class="icon_documents_alt"></i>
                          <span>Terms & Conditions</span>
                      </a>
          </li>
          <li>
            <a class="" href="#messages">
                          <i class="icon_mail_alt"></i>
                          <span>Messages</span>
                      </a>
          </li>
        </ul>
        <!-- sidebar menu end-->
      </div>
    </aside>
    <!--sidebar end-->

    <!--main content start-->
<section id="main-content">
  <!-- Account Section -->
      <section class="wrapper" id="accountInfo">
        <div class="row">
          <!-- profile-widget -->
          <div class="col-lg-12">
            <div class="profile-widget profile-widget-info">
              <div class="panel-body">
                <div class="col-lg-2 col-sm-2">
                  <h4><%=student[0].name%></h4>
                  <div class="follow-ava">
                    <img src="/vendor/img/profile-widget-avatar.jpg" alt="">
                  </div>
                  <h6 class="mt-3">Student</h6>
                </div>
                <div class="col-lg-4 col-sm-4 follow-info">
                  <p>@ <%=student[0].email%></p>
                  <p><i class="fa fa-twitter"></i> <%=student[0].branch%></p>
                  <p><i class="icon_key_alt"></i><%=student[0].mobile%></p>
                 
                </div>
                <div class="col-lg-2 col-sm-6 follow-info weather-category">
                  <ul>
                    <li class="active">

                      <i class="fa fa-comments fa-2x"> </i><br> Contrary to popular belief, Lorem Ipsum is not simply
                    </li>

                  </ul>
                </div>
                <div class="col-lg-2 col-sm-6 follow-info weather-category">
                  <ul>
                    <li class="active">

                      <i class="fa fa-bell fa-2x"> </i><br> Contrary to popular belief, Lorem Ipsum is not simply
                    </li>

                  </ul>
                </div>
                <div class="col-lg-2 col-sm-6 follow-info weather-category">
                  <ul>
                    <li class="active">

                      <i class="fa fa-tachometer fa-2x"> </i><br> Contrary to popular belief, Lorem Ipsum is not simply
                    </li>

                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- page start-->
        <div class="row">
          <div class="col-lg-12">
            <section class="panel">
              <header class="panel-heading tab-bg-info">
                <ul class="nav nav-tabs">
                  <li class="active">
                    <a data-toggle="tab" href="#profile">
                                          <i class="icon_plus_alt2"></i>
                                          Profile
                                      </a>
                  </li>
                  <li class="">
                    <a data-toggle="tab" href="#edit-profile">
                                          <i class="icon_tools"></i>
                                          Edit Profile
                                      </a>
                  </li>
                </ul>
              </header>
              <div class="panel-body">
                <div class="tab-content">
                  <!-- profile -->
                  <div id="profile" class="tab-pane active">
                    <section class="panel">
                      <div class="panel-body bio-graph-info">
                        <h1>Bio Graph</h1>
                        <div class="row">
                          <div class="bio-row">
                            <p><span>Name </span>: <%=student[0].name%></p>
                          </div>
                          <div class="bio-row">
                            <p><span>Enrollment Id </span>: <%=student[0].enroll_id%></p>
                          </div>
                          <div class="bio-row">
                            <p><span>Institute </span>: <%=student[0].institute%></p>
                          </div>
                          <div class="bio-row">
                            <p><span>Email </span>: <%=student[0].email%></p>
                          </div>
                          <div class="bio-row">
                            <p><span>Branch </span>: <%=student[0].branch%></p>
                          </div>
                          <div class="bio-row">
                            <p><span>Mobile </span>:<%=student[0].mobile%></p>
                          </div>
                        </div>
                      </div>
                    </section>
                    <section>
                      <div class="row">
                      </div>
                    </section>
                  </div>
                  <!-- edit-profile -->
                  <div id="edit-profile" class="tab-pane">
                    <section class="panel">
                      <div class="panel-body bio-graph-info">
                        <h1> Profile Info</h1>
                        <form class="form-horizontal" role="form" action="" name="editStudentprofile-Form">
                          <div class="form-group">
                            <label class="col-lg-2 control-label">Enrollment Id</label>
                            <div class="col-lg-6">
                              <input type="text" class="form-control" id="E-Id" name="enroll_id" placeholder=" " value="7894561230" disabled>
                            </div>
                          </div>
                          <div class="form-group">
                            <label class="col-lg-2 control-label">Name</label>
                            <div class="col-lg-6">
                              <input type="text" class="form-control" id="name" name="name" placeholder="" value="Simran Sharma" disabled>
                            </div>
                          </div>
                          <div class="form-group">
                            <label class="col-lg-2 control-label">Institute</label>
                            <div class="col-lg-6">
                              <input type="text" class="form-control" id="institute" id="institute" placeholder=" " value="Abc Institute" disabled>
                            </div>
                          </div>
                          <div class="form-group">
                            <label class="col-lg-2 control-label">Branch</label>
                            <div class="col-lg-6">
                              <input type="text" class="form-control" id="branch" name="branch" placeholder=" " value="Mechanical" disabled>
                            </div>
                          </div>
                          <div class="form-group">
                            <label class="col-lg-2 control-label">Email</label>
                            <div class="col-lg-6">
                              <input type="text" class="form-control" id="email" name="email" placeholder=" " value="abc@gmail.com" disabled>
                            </div>
                          </div>
                          <div class="form-group">
                            <label class="col-lg-2 control-label">Mobile</label>
                            <div class="col-lg-6">
                              <input type="number" class="form-control" id="mobile" name="mobile" placeholder=" " value="1234567890">
                            </div>
                          </div>
                          <div class="form-group">
                            <label class="col-lg-2 control-label">Image Input</label>
                            <div class="col-lg-6">
                              <input type="file" id="logoFile" name="img_url" accept=".jpg, .jpeg, .png">
                              <p class="help-block">Upload Your Image Here.</p>
                            </div>
                          </div>
                          <div class="form-group">
                            <label class="col-lg-2 control-label">Password</label>
                            <div class="col-lg-6">
                              <input type="password" class="form-control" id="password" name="password" placeholder=" " value="123456">
                            </div>
                          </div>

                          <div class="form-group">
                            <div class="col-lg-offset-2 col-lg-10">
                              <button type="submit" class="btn btn-primary">Save</button>
                              <button type="button" class="btn btn-danger">Cancel</button>
                            </div>
                          </div>
                        </form>
                      </div>
                    </section>
                  </div>
                </div>
              </div>
            </section>
          </div>
        </div>

        <!-- page end-->
      </section>
<!-- Request Section -->
  <section class="wrapper" id="sliderSection">
      <!-- ======= Slider Section ======= -->
    <section id="stdnt-slider" class="stdnt-slider">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Request Now</h2>
          <!-- <p>Magnam dolores commodi suscipit. Necessitatibus eius consequatur ex aliquid fuga eum quidem. Sit sint consectetur velit. Quisquam quos quisquam cupiditate. Et nemo qui impedit suscipit alias ea. Quia fugiat sit in iste officiis commodi quidem hic quas.</p> -->
        </div>
        <div class="owl-carousel slider-portal-carousel">

          <div class="stdnt-slider-item">
            <div class="stdnt-slider-wrap">
              <img src="/img/portfolio/portfolio-1.jpg" class="img-fluid" alt="">
              <div class="stdnt-slider-info">
                <h3 class="mb-3">Research Paper</h3>
                <h4 class="mb-5">For Registration or Query Click Below</h4>
                <div class="stdnt-slider-links">
                  <a id="Research Paper" onclick="CheckHeading(this.id)"><i class="bx bx-plus"></i>Request Now</a>
                </div>
              </div>
            </div>
          </div>

          <div class="stdnt-slider-item">
            <div class="stdnt-slider-wrap">
              <img src="/img/portfolio/portfolio-1.jpg" class="img-fluid" alt="">
              <div class="stdnt-slider-info">
                <h3 class="mb-3">Patent Filling</h3>
                <h4 class="mb-5">For Registration or Query Click Below</h4>
                <div class="stdnt-slider-links">
                  <a id="Patent Filling" onclick="CheckHeading(this.id)"><i class="bx bx-plus"></i>Request Now</a>
                </div>
              </div>
            </div>
          </div>

          <div class="stdnt-slider-item">
            <div class="stdnt-slider-wrap">
              <img src="/img/portfolio/portfolio-1.jpg" class="img-fluid" alt="">
              <div class="stdnt-slider-info">
                <h3 class="mb-3">StartUp</h3>
                <h4 class="mb-5">For Registration or Query Click Below</h4>
                <div class="stdnt-slider-links">
                  <a id="Start Up" onclick="CheckHeading(this.id)"><i class="bx bx-plus"></i>Request Now</a>
                </div>
              </div>
            </div>
          </div>

          <div class="stdnt-slider-item">
            <div class="stdnt-slider-wrap">
              <img src="/img/portfolio/portfolio-1.jpg" class="img-fluid" alt="">
              <div class="stdnt-slider-info">
                <h3 class="mb-3">Complain</h3>
                <h4 class="mb-5">For Registration or Query Click Below</h4>
                <div class="stdnt-slider-links">
                  <a id="Complain" onclick="CheckHeading(this.id)"><i class="bx bx-plus"></i>Request Now</a>
                </div>
              </div>
            </div>
          </div>

          <div class="stdnt-slider-item">
            <div class="stdnt-slider-wrap">
              <img src="/img/portfolio/portfolio-1.jpg" class="img-fluid" alt="">
              <div class="stdnt-slider-info">
                <h3 class="mb-3">Innovation</h3>
                <h4 class="mb-5">For Registration or Query Click Below</h4>
                <div class="stdnt-slider-links">
                  <a id="Innovation" onclick="CheckHeading(this.id)"><i class="bx bx-plus"></i>Request Now</a>
                </div>
              </div>
            </div>
          </div>

          <div class="stdnt-slider-item">
            <div class="stdnt-slider-wrap">
              <img src="/img/portfolio/portfolio-1.jpg" class="img-fluid" alt="">
              <div class="stdnt-slider-info">
                <h3 class="mb-3">Tech Support</h3>
                <h4 class="mb-5">For Registration or Query Click Below</h4>
                <div class="stdnt-slider-links">
                  <a id="Tech Support" onclick="CheckHeading(this.id)"><i class="bx bx-plus"></i>Request Now</a>
                </div>
              </div>
            </div>
          </div>

        </div>

      </div>
    </section>
    <!-- End Slider Section -->
  </section>

<!-- Add Project Section -->
  <section class="wrapper" id="projectAdd">

    <div class="section-title">
      <h2>ADD Project</h2>
    </div>

    <!-- Basic Forms & Horizontal Forms-->

    <div class="row">
      <div class="col-lg-6 col-md-6 col-sm-12 offset-md-3">
        <section class="panel">
          <header class="panel-heading">
            Add Your Project
          </header>
          <div class="panel-body">
            <form role="form" action="" name="studentAddProject-Form">
              <div class="form-group">
                <label for="exampleInputHeading1">Heading</label>
                <input type="text" class="form-control" id="exampleInputHeading1" name="projectRqHeading" placeholder="Enter Heading">
              </div>
              <div class="form-group">
                <label for="exampleInputDesc1">Description</label>
                <textarea  class="form-control" rows="3" id="exampleInputDesc1" name="projectRqDesc" placeholder="Enter Description of the Project"></textarea>
              </div>
              <div class="form-group">
                <label for="exampleInputFilePrj">File input</label>
                <input type="file" id="exampleInputFilePrj" name="projectRqImage" accept=".jpg, .jpeg, .png" required>
                <p class="help-block">Upload Your Project Image Here.</p>
              </div>
              <button type="submit" class="btn btn-primary">Submit Now</button>
            </form>

          </div>
        </section>
      </div>
    </div>



    
  </section>

  <!-- Terms & Conditions -->
  <section class="wrapper" id="faq">

    <div class="section-title">
      <h2>Terms & Condition Details</h2>
      <!-- <p>Magnam dolores commodi suscipit. Necessitatibus eius consequatur ex aliquid fuga eum quidem. Sit sint consectetur velit. Quisquam quos quisquam cupiditate. Et nemo qui impedit suscipit alias ea. Quia fugiat sit in iste officiis commodi quidem hic quas.</p> -->
    </div>
    <!--collapse start-->
    <div class="panel-group m-bot20" id="accordion">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title">
                              <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
                                Patent
                              </a>
                          </h4>
        </div>
        <div id="collapseOne" class="panel-collapse collapse">
          <div class="panel-body">
            <p>
              1)	The student can request for one patent per semester from AMZ Techversity.<br>
              2)	AMZ Techversity will consult and help out Student in filling the patent in IPR.<br>
              3)	The charges for patent Filling will be beared by student.<br>
              4)	AMZ tehversity will consult the student for manufacturing and development of product.<br>
              5)	The charges involved in product development will be beared by student.<br>
              6)	The AMZ Techversity will try to do cost cutting in product development as much as possible.<br>
              7)	The Student and AMZ will have 50-50% ownership of Patent.<br>
            </p>
          </div>
        </div>
      </div>
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title">
                              <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
                                Research Paper
                              </a>
                          </h4>
        </div>
        <div id="collapseTwo" class="panel-collapse collapse">
          <div class="panel-body">
            <p>
              1)	AMZ techversity will provide student Consult on writing the research paper.<br>
             2)	The student can request for 1 Research Paper review per Semester from AMZ techversity.<br>
            </p>
          </div>
        </div>
      </div>
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title">
                              <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseThree">
                                Startup
                              </a>
                          </h4>
        </div>
        <div id="collapseThree" class="panel-collapse collapse">
          <div class="panel-body">
            <p>
              1)	AMZ techversity will consult student on their start up idea and will help them to develop it.<br>
            2)	The Student can request for only 1 startup idea per course from AMZ techversity.<br>
            3)	AMZ techversity will guide the student for company registration and business model preparation once idea is selected by AMZ techversity.<br>
            </p>
          </div>
        </div>
      </div>
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title">
                              <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseFour">
                                Innovative idea
                              </a>
                          </h4>
        </div>
        <div id="collapseFour" class="panel-collapse collapse">
          <div class="panel-body">
            <p>
              1)	The Student can approach to AMZ techversity with innovative to be implemented in world.<br>
              2)	Student can only Submit 3 Idea per Semester.<br>
              3)	Only feasible Idea and innovation will entertained.<br>
              4)	The idea will be moved to next stage only after their selection from AMZ techversity team.<br>
            </p>

          </div>
        </div>
      </div>
    </div>
    <!--collapse end-->


<div>
</div>

    
  </section>

<!-- Messages -->
<section class="wrapper" id="messages">
  <div class="section-title">
    <h2> Messages</h2>
  </div>

  <div class="row">
    <div class="col-lg-12">
      <section class="panel">
        <header class="panel-heading tab-bg-info">
          <ul class="nav nav-tabs">
            <li class="active">
              <a data-toggle="tab" href="#viewMessage">
                                    <i class="icon_tools"></i>
                                    View
                                </a>
            </li>
          </ul>
        </header>
        <div class="panel-body">
          <div class="tab-content">
            <div id="viewMessage" class="tab-pane active">
              <section class="panel">
                <div class="panel-body bio-graph-info">
                  <h1> Messages Info</h1>
                  <div class="table-responsive">
                    <table class="table table-hover table-striped dataTable">
                      <thead class="dark">
                        <tr>
                          <th scope="col">#</th>
                          <th scope="col">Admin</th>
                          <th scope="col">Message</th>
                          <th scope="col">Action</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <th scope="row">1</th>
                          <td>Admin Name</td>
                          <td>Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis totam doloremque suscipit dolorum porro eveniet saepe blanditiis tempora architecto nobis?</td>
                          <td><button class="btn btn-danger">Clear</button></td>
                        </tr>
                        <tr>
                          <th scope="row">2</th>
                          <td>Admin Name</td>
                          <td>Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis totam doloremque suscipit dolorum porro eveniet saepe blanditiis tempora architecto nobis?</td>
                          <td><button class="btn btn-danger">Clear</button></td>
                        </tr>
                      </tbody>
                    </table>
                    <button class="btn btn-primary text-center">Clear All</button>
                  </div>
                </div>
              </section>
              <section>
                <div class="row">
                </div>
              </section>
            </div>
          </div>
        </div>
      </section>
    </div>
  </div>

</section>

</section>
  </section>

   <!-- Modal Request -->
   <div class="modal fade FormModal" id="studentRequestModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-md" role="document">
      <div class="modal-content">
        <div class="modal-header border-bottom-0">
          <p class="text-center">Enter Details</p>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
          <div class="d-flex flex-column text-center">
            <form class="FormModal-form" action="/student/request" method="POST" name="studentRequest-Form" enctype="multipart/form-data">
              
              <div class="form-group">
                <input type="text" class="form-control" name="type" id="userRequestType" value="" placeholder="Request Type..." autocomplete="off">
              </div>

              <div class="form-group">
                <input type="text" class="form-control" name="heading" id="userName"  placeholder="HEADING..." autocomplete="off">
              </div>

              <div class="form-group">
                <textarea name="description" id="userInfo" cols="5" rows="2" class="form-control" placeholder="DESCRIPTION..." autocomplete="off"></textarea>
              </div>
              
              <div class="form-group">
                <input type="file" id="exampleInputFile"  name="img_url">
                <p class="help-block">Upload Your Document Here.</p>
              </div>
              
              <div class="row">
                <div class="col-md-6 col-sm-12 offset-md-6 mr-auto">
                  <button type="submit" class="btn btn-info btn-block btn-round">Request Now</button>
                </div>
              </div>

            </form>
            
        </div>
      </div>
        <div class="modal-footer border-top-0">
          <div class="dismiss-section text-center">Not Interested? <a data-dismiss="modal" class="text-info"> Back</a>.</div>
        </div>
    </div>
  </div>
  </div>
  <!-- Modal End  -->

  <!-- javascripts -->

 <script src="/vendor/js3.0/jquery.js"></script>
  <script src="/vendor/js3.0/bootstrap.min.js"></script>

  <!-- nice scroll -->
  <script src="/vendor/js3.0/jquery.scrollTo.min.js"></script>
  <script src="/vendor/js3.0/jquery.nicescroll.js"></script>
  
 <script src="/vendor/owl.carousel/owl.carousel.js"></script>
  <!--custome script for all page-->
  <script src="/vendor/js3.0/scripts.js"></script>
  <script src="/vendor/jquery.validate/jquery.validate.min.js"></script>

   <script>
  
    $(function() {

      $("form[name='editStudentprofile-Form']").validate({
        rules: {
  
          mobile: {
            minlength: 10,
            maxlength: 10
          },
          password: {
            required: true,
            minlength: 5
          }
                   
        },
        messages: {
          mobile: "Phone number required 10 digit",
          password: "Invalid Password,5 Characters required"
        },
        submitHandler: function(form) {
          form.submit();
        }
      });

      
      $("form[name='studentRequest-Form']").validate({
        rules: {
  
          userRqType: {
            required: true
          },
          userRqHeader: {
            required: true,
            minlength: 10
          },
          userRqDesc: {
            required: true,
            minlength: 20
          }
                   
        },
        messages: {
          userRqType: "Choose a Request",
          userRqHeader: "Atleast 10Characters Required",
          userRqDesc: "Atleast 20Characters Required"
        },
        submitHandler: function(form) {
          form.submit();
        }
      });

      $("form[name='studentAddProject-Form']").validate({
        rules: {
  
          projectRqHeading: {
            required: true,
            minlength: 10
          },
          projectRqDesc: {
            required: true,
            minlength: 20
          },
          projectRqFile: {
            required: true
          }
                   
        },
        messages: {
          projectRqHeading: "Atleast 10Characters Required",
          projectRqDesc: "Atleast 20Characters Required",
          projectRqFile: "Upload your Project Image"
        },
        submitHandler: function(form) {
          form.submit();
        }
      });
  
    });
  
  </script>

  <script>
    function CheckHeading(RequestType){

     document.getElementById("userRequestType").value = RequestType;
      $('#studentRequestModal').modal('show');

    }
  </script>
  

</body>

</html>
